{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 144,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
